@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    background-color: #35363A;
    color: white;
}

header h2 {
    padding: 3rem 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

nav {
    padding-bottom: 2.5em;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

nav ul a {
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

nav ul a:hover {
    color: white;
    background-color: black;
    transition: background-color 0.5s, color 0.5s;
}

nav ul a li {
    display: inline-block;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.button a {
    margin-left: 2rem;
}

.button a button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0 2em 5em 0;
}

footer {
    background-color: #35363A;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 5em 0;
}